
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 2rem;
  }
  .avatar {
    width: 40%;
  }
  .block{
    width: 100%;
  }
  .pictures{
    padding-top: 7vh;
  }
  .works, .whatLike{
    height: 90vh;
  }

}
@media only screen and (min-width: 1080px) {
  h2 {
    font-size: 3rem;
  }
  .avatar {
    width: 35%;
  }
  .block{
    width: 50%;
  }
  .pictures{
    padding-top: 12vh;
  }
  .works, .whatLike{
    height: 45vh;
  }
}


*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s;
  user-select: none;
}
html { font-size: 62.5%; }
body { font-size: 1.4rem; } /* =14px */
nav{
  top: -100px;
  height: 8vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  position: fixed;
  z-index: 100;
  transition: all 1s;
}
nav ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
nav li{
  font-size: 1.5em;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 8vh;
  border-radius: 3px;
}
nav a{
  padding: 8px;
  color: #bdd1ff;
  border-radius: 3px;
  border: 2px rgba(164, 174, 173, 0) solid;
}
nav a:hover{
  color: white;
  text-decoration: none;
  border: 2px white solid;
  border-radius: 3px;
}
header{
  top: -500px;
  position: relative;
  width: 100%;
  transition: all 1s;
}
.colors{
  width: 100%;
  height: 45vh;
  position: absolute;
  z-index: -9;
  overflow: hidden;
}
.firstColor{
  height: 100%;
  width: 99%;
  background-color: #3f4996;
  display: inline-block;
}
.secondColor{
  height: 100%;
  width: 60%;
  background-color: #4752a5;
  display: inline-block;
  float: right;
  position: absolute;
  right: -150px;
  transform: skew(-15deg);
}
.firstBlock{
  height: 100%;
  padding: 12vh 0 3vh;
}
.info{
  width: 100%;
  height: 30vh;
}
.avatar{
  height: 100%;
  display: inline-block;
}
.avatar img{
  height: auto;
  width: 100%;
  border-radius: 50%;
  margin-top: 5%;
}
.mainText{
  height: 100%;
  width: 60%;
  display: inline-block;
  float: right;
  padding: 15% 0 0 5%;
  color: white;
}
.mainText h2{
  /*font-size: 3rem;*/
}
.mainText p{
  font-size: 2.2vh;
  color: #4dc2ff;
}
.knowMore{
  line-height: 100%;
  text-align: center;
}
.knowMore h2{
  margin: 5vh;
  font-size: 3rem;
  color: #525252;

}

.overlayFood{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 109, 135, 0.6);
}
.overlayPhoto{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(77, 194, 255, 0.7);
}

.block{
  height: 45vh;
  line-height: 0;
  position: relative;
}
.foodLike{
  left: -100%;
  background-color: salmon;
  float: left;
  transition: all 1.5s;
}
.photoLike{
  background-color: rgb(77, 194, 255);
  float: right;
  right: -100%;
  transition: all 1.5s;
}
.pictures{
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;

}
.pictures img{
  margin: 10px;
  height: 16vh;
  width: 16vh;
}
.pictures i{
  margin: 10px 23px;
  font-size: 16vh;
}
.block h2{
  position: relative;
  color: white;
  font-size: 6rem;
  text-align: center;
  line-height: 44vh;
  z-index: 10;
}
.works{
  line-height: 0;
}
.landings{
  background-color: rgba(48, 91, 220, 0.9);
  float: left;
}
.apps{
  background-color: rgba(220, 24, 93, 0.91);
  float: right;
}
.landings i, .apps i{
  position: absolute;
  font-size: 18vh;
  text-align: center;
  left: 0;
  right: 0;
}

.line{
  height: 5px;
  width: 5px;
  position: absolute;
  background-color: black;
}
.lineOne{
  top: 0;
  left: 0;
}
.lineOne{
  bottom: 0;
  left: 0;
}
.lineOne{
  top: 0;
  right: 0;
}
.lineOne{
  bottom: 0;
  right: 0;
}


.mainSquare{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.mainSquare i{
  color: rgba(0, 0, 0, 0.31);
}


.social{
  height: 30vh;
  width: 100%;
  background-color: #4752a5;
  padding-top: 11vh;
}


.social div{
  height: 60px;
  width: 60px;
}

.social{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  line-height: 90px;
}
.social i{
  color: white;
  font-size: 5rem;
}
.social a:hover .overlaySocial{
  opacity: 1;
}
.overlaySocial{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.35) 0%, rgba(128,128,128,0) 70%, rgba(128,128,128,0) 100%);
  opacity: 0;
}
/*------------FOOTER--------------*/
footer{
  width: 100%;
  height: 10vh;
  background-color: #2c3465;
  color: white;
  padding-top: 3vh;
  text-align: center;
  font-size: 1.5em;
}

.imageFood, .imageInst{
  position: relative;
  top: 0;
}
.upper{
  top: -20px;
}

/*---------------------ACTIVATION ---------------------- */
.hobbie{
  position: relative;
  top: -600px;
  transition: all 1.5s;
  z-index: -100;
}

.unactiveLeft{
  left: 0;
}
.unactiveRight{
  right: 0;

}
.unactiveTop{
  top: 0;
}
.works a{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}
.overlayWorks{
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.35) 0%, rgba(128,128,128,0) 70%, rgba(128,128,128,0) 100%);
  opacity: 0;
  z-index: 100;
}
.overlayWorks:hover{
  opacity: 1;
}
.cube{
  height: 150px;
  width: 100%;
  border-radius: 2px;
  margin: 80px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.cube:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cube a{
  width: 100%;
  height: 100%;
  position: absolute;
}
.cube h1{
  text-align: center;
  line-height: 150px;
}
.worksView2{
  background-color: #e0e9ff;
}